body {
    box-sizing: border-box;
    color: #767676;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.Desc h1 {
    border-bottom: 2px solid black;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

nav {
    height: 100vh;
    overflow: scroll;
    position: fixed;
    width: 350px;
}

.navbar::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(216, 2, 2);
}

.navbar a {
    border-bottom: 0.6px solid black;
    display: block;
    color: rgb(104, 62, 32);
    cursor: pointer;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
    width: 100%;
}

#main-doc {
    position: absolute;
    margin-left: 410px;
    padding: 20px 20px 20px 10px;
    margin-bottom: 0px;
}

.main-section header {
    text-align: left;
}

.main-section header h1 {
    font-weight: 700;  
}

.main-section h2 {
    font-size: 18px;
    font-weight: 600;
}

.main-section p {
    font-weight: 300;
    line-height: 1.7;
}

.main-section li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: .5rem;
}

.main-section li strong {
    font-weight: 400;
    text-decoration: underline;
}

#Interaction_Design ul li {
    list-style-type: none;
}

#Interaction_Design ul li b {
    text-decoration: underline;
}

#References a {
    color: blue;
    text-decoration: none;
}

@media (max-width: 947px) {
    nav {
        background: #dddd;
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        max-height: 297px;
        z-index: 1;
      }

      #main-doc {
        margin: auto;
        margin-top: 270px;
        position: relative;
      }
}

